<form class="form-inline my-2 my-lg-0 d-flex">
  <input class="form-control mr-sm-2" (focusout)="onFocusOutEvent()" (focus)="onFocus()" type="search" #yourInput (keyup)="search(yourInput.value)" placeholder="Search" aria-label="Search">
  <div *ngIf="show" class="container">
    <ul *ngIf="results.length > 0" else noResult>
      <li style="cursor: pointer;" *ngFor="let item of results" (click)="selectUser(item)" [innerHTML]="item.uName+' ' + item.lastname+ ' ' + item.secondLastname | boldLetters:input">{{item.uName}} {{item.lastname}} {{item.secondLastname}}</li>
    </ul>
    <ul  *ngIf="results.length == 0">
      <li> Sin Resultados</li>
    </ul>
  </div>
</form>