.actions > *{
  height: 35px;
}
.h2 {
  margin-bottom: 0;
}

.main.container {
  margin-bottom: 71px;;
}

.no-results {
  color: grey;
  margin: 3rem 0;
}

input {
  border-width: 1px;
  margin-right: 1rem;
  padding-left: 4px;;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}