<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="cursor: pointer;" (click)="goHomeDashboard()">
    <img src="../../../assets/images/logo.jpeg" style="margin-left: 20px;" width="80" height="80" alt="">
  </a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
    <ul class=" float-right navbar-nav mr-auto">
    </ul>
  </div>
  <div class="profile-container container d-flex justify-content-end dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="image-container"><img width="33px" src="../../../assets/images/userProfile.jpeg" alt=""></div>
      <div class="name-container">{{userName}}</div>
      <fa-icon [icon]="arrowDown"></fa-icon>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" (click)="goToProfile()" >Perfil</a>
      <a class="dropdown-item" (click)="logOut()">Cerrar sesión</a>
    </div>
  </div>
  <app-searchbar></app-searchbar>
</nav>