<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <fa-icon class="sidebarButton" (click)="toogleSidebar()" [icon]="barMenu" ></fa-icon>
    <a class="navbar-brand" style="cursor: pointer;" (click)="goHomeDashboard()">
      <img src="../../../assets/images/logo.jpeg" style="margin-left: 20px;" width="80" height="80" alt="">
    </a>
    <div class="profile-container container d-flex justify-content-end dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="image-container"><img width="33px" src="../../../assets/images/userProfile.jpeg" alt=""></div>
        <div class="name-container">{{userName}}</div>
        <fa-icon [icon]="arrowDown"></fa-icon>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" (click)="goToProfile()" >Perfil</a>
        <a class="dropdown-item" (click)="logOut()">Cerrar sesión</a>
      </div>
    </div>
    <app-searchbar></app-searchbar>
  </div>
</nav>
<nav id="sidebar" [ngClass]="{'active': showSidebar}" >
  <div class="sidebar-header">
    <button class="close-button" type="button" (click)="toogleSidebar()">
      <fa-icon class="close-asset" [icon]="faXmark"></fa-icon>
    </button>
  </div>
  <ul class="admin-list components">
      <li>
          <a (click)="toogleSidebar()" routerLink="/suburbs">Colonias</a>
      </li>
      <li>
          <a (click)="toogleSidebar()" routerLink="/employee-rols">Posiciones</a>
      </li>
      <li>
          <a (click)="toogleSidebar()" routerLink="/support-jobs" >Trabajos (de apoyo)</a>
      </li>
  </ul>
</nav>