.link-info {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.main.container {
  padding: 36px 12px;
  background-color: white;
  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.disable {
  pointer-events: none;
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #00000012;
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.pagination :not(.visibility){
  opacity: .5;
  cursor:auto;
  pointer-events: none;
}
.pagination .visibility{
  font-weight: 600;
}

@media (max-width: 575px) {
  .main.container {
    max-width: 92%;
    margin-bottom: 71px;
  }
}