<div *ngIf="user != null" class="main container">
  <div class="row">
    <div class="image-container col-12 col-md-3 text-center">
      <img width="150px" src="../../../assets/images/userProfile.jpeg" alt="">
    </div>
    <div class="image-container col-12 col-md-9">
      <div class="row">
        <div class="col-12 col-md-6">
          <p><strong>Nombre(s):</strong> {{ user.uName }}</p>
          <p><strong>Usuario:</strong> {{ user.userId }}</p>
          <p><strong>Rol:</strong> {{ user.rol }}</p>
          <p><strong>Fecha de nacimiento:</strong> {{ user.dateOfBirth | date:'mediumDate' }}</p>
        </div>
        <div class="col-12 col-md-6">
          <p><strong>Apellidos:</strong> {{ user.lastname + ' ' + user.secondLastname }}</p>
          <p><strong>Email:</strong> {{ user.emailId }}</p>
          <p><strong>Teléfono:</strong> {{ user.phoneNo }}</p>
        </div>
        <div class="col-12 col-md-12">
          <p><strong>Dirección:</strong> {{ user.address }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="user === null" class="main container" >
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuario</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th *ngIf="currentRol == 'ADMIN' || currentRol == 'EDITOR'" scope="col">Rol</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of allUsers | keyvalue;let i = index">
      <th scope="row">{{((page - 1) * 10) + i + 1 }}</th>
      <td class="link-info" (click)="selectUser(user.value.userId)">{{ user.value.userId  }}</td>
      <td>{{ user.value.uName }}</td>
      <td>{{ user.value.lastname  }}</td>
      <td *ngIf="currentRol == 'ADMIN' || currentRol == 'EDITOR'">{{ user.value.rol  }}</td>
    </tr>
    </tbody>
  </table>
  <div class="container pagination">
    <div [ngClass]="{'visibility': prevPage}" (click)="prevPageFunc()" style="cursor: pointer; margin-right: 32px;"><fa-icon [icon]="leftArrow"></fa-icon> Pág. anterior</div>
    <div [ngClass]="{'visibility': nextPage}" (click)="nextPageFunc()" style="cursor: pointer;">Siguiente pág.<fa-icon [icon]="rightArrow"></fa-icon></div>
    <span style="margin-left: 20px">{{ page*10 }} de {{ collectionSize }}</span>
  </div>

  <!-- <app-google-component></app-google-component> -->

</div>

